<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library App</title>
    <link rel="stylesheet" href="/css/library.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="navbar">
        <ul class="items">
            <li><a href="/">HOME</a></li>
            <li><a href="/Book/addbook">ADD BOOK</a></li>
            <li><a href="/Book/view-book">VIEWBOOK</a></li>
            <li><a href="/Author/addbook/addauthor">ADD AUTHOR</a></li>
            <li><a href="/Author/view-author">VIEWAUTHOR</a></li>
            <li><a href="/registerlogin">LOGIN</a></li>
            <li><a href="/register" class="play">SIGN UP</a></li>
            <li><a href="/Register/view-register" class="play">VIEWREGISTER</a></li>



        </ul>
    </div>
    <div class="middle">
        <div class="gem">
            <img src="https://toppng.com/uploads/preview/book-icon-book-icon-11563642450he58ixg4u9.png" class="image"
                alt=""></i><span class="key1">Library app</span>
        </div>
        <div class="box"></div>
    </div>
    <div class="center">
        <div class="get1">
            <img src="/images/Bill Gates.jpg" id="lock" alt="img">
            <div id="owl1">Lorem ipsum dolor sit, amet consectetur
                adipisicing elit. Animi, voluptates.</div> <span class="glow1">glowforj.com</span>
            <br> <span class="hours">2 hours ago . Read more</span>
        </div>

        <hr class="fox" style="color: rgb(189, 176, 176); width: 1150px; margin-left: 40px;">

        <div class="get2">
            <img src="/images/henry.jpg" id="load" alt="img">
            <div id="owl1">Lorem ipsum, dolor sit amet consectetur
                adipisicing elit. Voluptatum, aperiam.</div> <span class="glow1">glowforj.com</span>
            <br> <span class="hours">2 hours ago . Read more</span>

        </div>
        <hr class="fox" style="color: rgb(177, 166, 166); width: 1150px; margin-left: 40px;">

        <div class="get3">
            <img src="/images/johny.jpg" id="rock" alt="img">
            <div id="owl1">Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. A, illo!</div> <span class="glow1">glowforj.com</span>
            <br><span class="hours">2 hours ago . Read more</span>

        </div>
        <hr class="fox" style="color: rgb(198, 191, 191); width: 1150px;  margin-left: 40px;">

        <button class="more">More</button>
    </div>
    <br> <br>
    <div class="last">
        <h5 class="follow">Follow us</h5> <br> <br>
        <div class="threeboxes">
            <button class="twitter">Twitter</button>
            <button class="facebook">Facebook</button>
            <button class="google">Google</button>
        </div>
    </div>
</body>

</html>